@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@font-face {
    font-family: 'IRANSans';
    src: url('/fonts/Iransans/IRANSans.eot') format('eot'), url('/fonts/Iransans/IRANSans.ttf') format('truetype'), url('/fonts/Iransans/IRANSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.page-loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(255 255 255 / 90%);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.page-loading img {
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

body {
    direction: rtl;
    background-color: #fff;
    font-family: IranSans;
}

.logo {
    height: 26px;
}

body aside {
    width: 200px;
    height: calc(100vh - 109px);
}

body .wrapper {
    width: calc(100% - 200px);
}

body header .profile_list ul[open] {
    display: block;
}

aside .menu .current {
    @apply bg-gray-200
}